body {
  background-color: #FAFAFA;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  margin: 1rem 2rem 2rem;
  height: 125px;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.header-right {
  float: right;
  padding-top: 25px;
}
.header-left {
  float: left;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  text-align: center;
}

.open-btn {
  justify-content: center;
  align-items: center;
  padding: 0px 16px 0px 0px;
  gap: 8px;

  background: #EB5435;
  border-radius: 100px;
  display: flex;
 
  font-style: normal;
  font-weight: 590;
  font-size: 36px;
  line-height: 43px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px 0px 0px;
  gap: 8px;

  border: #FFFFFF;
  color: #FFFFFF;
}

.container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5rem;
  padding: 0;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 36px;
  margin-bottom: 2rem;
}

@media (max-width: 1499px) {
  .pokemon-grid {
    grid-template-columns: 333px 333px 333px;
    width: 1071px;    
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1120px) {
  .pokemon-grid {
    grid-template-columns: 333px 333px;
    width: 700px;    
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 775px) {
  .pokemon-grid {
    grid-template-columns: 333px;
    width: 333px;    
    margin-left: auto;
    margin-right: auto;
  }
  .header-right {
    float: unset;
    padding-top: 25px;
    text-align: center;
  }
  .header-left {
    float: unset;
  }
  .header {
    height: 230px;
    text-align: center;
  }
  .open-btn {
    margin: auto;
  }
}

.paginate-div {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-card {
  background: #FFFFFF;
  box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  width: 333px;
}


.img-div {
  height: 175px;
}

.image {
  padding-top: 10px;
}

.card-body {
  height: 70px;
  width: 333px;
  border-radius: 0px;
  padding: 8px 8px 16px 16px;
}

.card-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  margin-bottom: 5px;
}

.card-type {
  list-style-type: none;
  text-transform: capitalize;
  float: Left;
  font-size: 24px;
  font-weight: 274;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 12px;
}

.card-type-list {
  padding: 0;
  margin: 0;
}

.card-type-list li:not(:first-child) { padding-left: 5px; }
.card-type-list li:after { content: " \00b7"; }
.card-type-list li:last-child:after { content: none; }

.add-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;

  color: #333333;

}

.bg {
  background: rgba(0, 0, 0, 0.6),
}

.form-label {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: .5rem;

  color: #333333;
}

.input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  margin-bottom: .75rem;
}

.input-name {
  width: 100%;
  height: 35px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #333333;

  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}

.add-btn {
  padding: 12px 0px;
  gap: 8px;

  width: 296px;
  height: 53px;

  background: #EB5435;  
  border-radius: 100px;
  border: white;

  font-style: normal;
  font-weight: 590;
  font-size: 24px;
  line-height: 29px;

  color: #FFFFFF;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.add-btn:hover {
  background-color:rgba(235, 84, 53, .7);
  border: solid 1px #EB5435;
}

.add-btn:active {
  background-color:rgba(235, 84, 53, .7);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.round-top {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.error {
  color: red;
}

.normal {
  background-color: rgba(170, 170, 155, .7);
}
.fire {
  background-color:rgba(235, 84, 53, .7);
} 
.water {  
  background-color: rgba(51, 153, 254, .7);
} 
.grass {
  background-color: rgba(118, 204, 85, .7);
}
.electric {
  background-color:rgba(255, 204, 51, .7);
}
.ice {
  background-color: rgba(101, 204, 255, .7);
} 
.fighting {
  background-color: rgba(186, 85, 68, .7);
}  
.poison {
  background-color: rgba(170, 85, 153, .7);
}  
.ground {
  background-color: rgba(221, 187, 84, .7);
}  
.flying {
  background-color: rgba(135, 153, 255, .7);
}  
.psychic {
  background-color: rgba(255, 85, 153, .7);
}  
.bug {
  background-color: rgba(169, 187, 34, .7);
} 
.rock {
  background-color: rgba(187, 170, 102, .7);
}
.ghost {
  background-color: rgba(102, 102, 186, .7);
}
.dark {
  background-color: rgba(119, 84, 68, .7);
}
.dragon {
  background-color: rgba(102, 102, 186, .7);
}
.steel {
  background-color: rgba(170, 170, 187, .7);
}
.fairy {
  background-color: rgba(238, 153, 238, .7);
}

@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

.page-item.active .page-link {
  background-color: #EB5435;
  border-color: #EB5435;
}